<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429120990745-9vkbq770tddsb25oibeh0mfin3qbjdt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429120990745-9vkbq770tddsb25oibeh0mfin3qbjdt3</string>
	<key>API_KEY</key>
	<string>AIzaSyDMOL1QKq4ThksuUpTXpJHPMtM6s8HO7bU</string>
	<key>GCM_SENDER_ID</key>
	<string>429120990745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackmit.drivewise</string>
	<key>PROJECT_ID</key>
	<string>drivewise-a5a56</string>
	<key>STORAGE_BUCKET</key>
	<string>drivewise-a5a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429120990745:ios:23864e0cc323e5c5020488</string>
</dict>
</plist>